<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JEEdemo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>HelloServlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>admin</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>admin123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>databasePath</param-name>
    <param-value>d:/data/mydatabase</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>empservlet</display-name>
    <servlet-name>empservlet</servlet-name>
    <servlet-class>empservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>empservlet</servlet-name>
    <url-pattern>/empservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dispatchdemo1</display-name>
    <servlet-name>dispatchdemo1</servlet-name>
    <servlet-class>dispatchdemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatchdemo1</servlet-name>
    <url-pattern>/dispatchdemo1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dispatchdemo2</display-name>
    <servlet-name>dispatchdemo2</servlet-name>
    <servlet-class>dispatchdemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatchdemo2</servlet-name>
    <url-pattern>/second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>wishservlet</display-name>
    <servlet-name>wishservlet</servlet-name>
    <servlet-class>wishservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wishservlet</servlet-name>
    <url-pattern>/wishservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>simpleintservlet</display-name>
    <servlet-name>simpleintservlet</servlet-name>
    <servlet-class>simpleintservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>simpleintservlet</servlet-name>
    <url-pattern>/simpleintservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>loginservlet</servlet-class>
    <init-param>
      <param-name>username</param-name>
      <param-value>techm</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>tls</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resgisterservlet</display-name>
    <servlet-name>resgisterservlet</servlet-name>
    <servlet-class>resgisterservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resgisterservlet</servlet-name>
    <url-pattern>/resgisterservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Additionservlet</display-name>
    <servlet-name>Additionservlet</servlet-name>
    <servlet-class>Additionservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Additionservlet</servlet-name>
    <url-pattern>/Additionservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcserv</display-name>
    <servlet-name>calcserv</servlet-name>
    <servlet-class>calcserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcserv</servlet-name>
    <url-pattern>/calcserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dispserv</display-name>
    <servlet-name>dispserv</servlet-name>
    <servlet-class>dispserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispserv</servlet-name>
    <url-pattern>/dispserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sess</display-name>
    <servlet-name>sess</servlet-name>
    <servlet-class>sess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sess</servlet-name>
    <url-pattern>/sess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>subservlet</display-name>
    <servlet-name>subservlet</servlet-name>
    <servlet-class>subservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subservlet</servlet-name>
    <url-pattern>/subservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>multiservlet</display-name>
    <servlet-name>multiservlet</servlet-name>
    <servlet-class>multiservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>multiservlet</servlet-name>
    <url-pattern>/multiservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>divservlet</display-name>
    <servlet-name>divservlet</servlet-name>
    <servlet-class>divservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>divservlet</servlet-name>
    <url-pattern>/divservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductStoreServlet</display-name>
    <servlet-name>ProductStoreServlet</servlet-name>
    <servlet-class>ProductStoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductStoreServlet</servlet-name>
    <url-pattern>/ProductStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>companyservlet</display-name>
    <servlet-name>companyservlet</servlet-name>
    <servlet-class>companyservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>companyservlet</servlet-name>
    <url-pattern>/companyservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchproductservlet</display-name>
    <servlet-name>searchproductservlet</servlet-name>
    <servlet-class>searchproductservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchproductservlet</servlet-name>
    <url-pattern>/searchproductservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>datasourcedemo</display-name>
    <servlet-name>datasourcedemo</servlet-name>
    <servlet-class>datasourcedemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datasourcedemo</servlet-name>
    <url-pattern>/datasourcedemo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateServlet</display-name>
    <servlet-name>ValidateServlet</servlet-name>
    <servlet-class>ValidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateServlet</servlet-name>
    <url-pattern>/ValidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayOrder</display-name>
    <servlet-name>DisplayOrder</servlet-name>
    <servlet-class>DisplayOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayOrder</servlet-name>
    <url-pattern>/DisplayOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AmountServlet</display-name>
    <servlet-name>AmountServlet</servlet-name>
    <servlet-class>AmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AmountServlet</servlet-name>
    <url-pattern>/AmountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreServlet</display-name>
    <servlet-name>StoreServlet</servlet-name>
    <servlet-class>StoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreServlet</servlet-name>
    <url-pattern>/StoreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSession</display-name>
    <servlet-name>LoginSession</servlet-name>
    <servlet-class>LoginSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSession</servlet-name>
    <url-pattern>/LoginSession</url-pattern>
  </servlet-mapping>
</web-app>